---
import { Page } from '@layout';
import { Image } from 'astro:assets';

const imageFiles = await Astro.glob('/public/cats/*');
---

<Page title="Joslyn & Jerome">
  <div class="container">
    <article>
      <h1>Joslyn & Jerome</h1>

      <div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-3 mb-5 mx-auto w-full px-4">
        {imageFiles.map((img) => <Image src={img.default} width="600" alt="Cats" class="mb-3 w-full rounded" />)}
      </div>
    </article>
  </div>
</Page>
