---
import { Page } from '@layout';
import { FormattedDate } from '@library';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Page title="All Blog Posts">
  <div class="container md:mt-8">
    <article>
      <h1>All Blog Posts</h1>
      {
        posts.map((post) => (
          <FormattedDate date={post.data.pubDate} />
          <a href={`/blog/${post.slug}/`}>
            <h2 class="my-0">{post.data.title}</h2>
          </a>
          <p class="mt-2 mb-10">{post.data.description}</p>
        ))
      }
    </article>
  </div>
</Page>
