---
import { FormattedDate } from '@library';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()).slice(0, 6);
---

<section id="blogs" class="container pt-20">
  <article>
    <h1>Recent Blog Posts</h1>
      {
        posts.map((post) => (
          <FormattedDate date={post.data.pubDate} />
          <a href={`/blog/${post.slug}/`}>
            <h2 class="my-0">{post.data.title}</h2>
          </a>
          <p class="mt-2 mb-10">{post.data.description}</p>
        ))
      }
    <!--
    <div class="mt-8 flex place-content-end">
      <a href="/blog/" class="btn btn-primary">View All</a>
    </div>
    -->
  </article>
</section>
