---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import hero from './assets/hero.png'
---

<section class="md:mt-8">
  <div
    class="h-[calc(100svh-4rem)] justify-items-center md:flex md:h-auto md:place-content-between">
    <Image
      src={hero}
      alt="Hero image"
      class="mx-auto max-h-[40%] w-auto rounded-lg md:mx-0 md:h-auto md:w-[45%]"
    />
    <div class="flex h-[60%] flex-col place-content-between md:h-auto">
      <div class="mt-8 w-full text-center text-4xl md:mt-0 lg:text-5xl">
        <span class="font-bold">Patrick</span>
        <span class="text-gray-500">Ineichen</span>
      </div>
      <div class="flex flex-col gap-2 md:gap-4">
        <p class="text-center text-2xl lg:text-3xl">
          <span class="text-gray-500">Professional</span>
          <span class="font-bold">Software Engineer</span>
        </p>
        <p class="text-center text-2xl lg:text-3xl">
          <span class="text-gray-500">Hobby</span>
          <span class="font-bold">Audio Engineer</span>
        </p>
        <p class="text-center text-2xl lg:text-3xl">
          <span class="text-gray-500">Passionate</span>
          <span class="font-bold">Musician</span>
        </p>
        <p class="text-center text-2xl lg:text-3xl">
          <span class="text-gray-500">Caring</span>
          <span class="font-bold">Cat Lover</span>
        </p>
      </div>
      <div class="mx-auto mb-4 flex gap-4 md:mb-0">
        <a href="https://github.com/froko">
          <Icon name="mdi:github" size={48} />
        </a>
      </div>
    </div>
  </div>
</section>
