---
import { GitHubIcon } from '@components';
import { Image } from 'astro:assets';

import hero from './assets/hero.png';
---

<section class="container md:pt-4">
  <div class="h-[calc(100svh-4rem)] md:h-auto md:flex md:place-content-between justify-items-center">
    <Image src={hero} alt="Hero image" class="rounded-lg max-h-[40%] w-auto mx-auto md:mx-0 md:w-[40%] md:h-auto" />
    <div class="flex flex-col place-content-between h-[60%] md:h-auto">
      <div class="text-center w-full text-4xl lg:text-5xl mt-8 md:mt-0">
        <span class="font-bold">Patrick</span>
        <span class="text-gray-500">Ineichen</span>
      </div>
      <div class="flex flex-col gap-2 md:gap-1 lg:gap-2">
        <p class="text-2xl lg:text-3xl text-center">
          <span class="text-gray-500">Professional</span>
          <span class="font-bold">Software Engineer</span>
        </p>
        <p class="text-2xl lg:text-3xl text-center">
          <span class="text-gray-500">Hobby</span>
          <span class="font-bold">Audio Engineer</span>
        </p>
        <p class="text-2xl lg:text-3xl text-center">
          <span class="text-gray-500">Passionate</span>
          <span class="font-bold">Musician</span>
        </p>
        <p class="text-2xl lg:text-3xl text-center">
          <span class="text-gray-500">Caring</span>
          <span class="font-bold">Cat Lover</span>
        </p>
      </div>
      <div class="flex mx-auto gap-4 mb-4 md:mb-0">
        <a href="https://github.com/froko"><GitHubIcon /></a>
      </div>
    </div>
  </div>
</section>
