@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
  themes: false;
  exclude: properties;
}
@plugin './catppuccinTheme.macchiato.ts';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

article {
  @apply prose md:prose-xl;
}
