---
import { CloseIcon, HamburgerIcon } from '@components'
import { nav } from '@data'
import { Image } from 'astro:assets'

import me from '/public/me.jpg'

const { navBarTitle } = Astro.props
---

<nav class="navbar sticky top-0 z-10 backdrop-blur-lg">
  {navBarTitle && <span class="ml-2 text-xl font-bold md:text-2xl">{navBarTitle}</span>}
  {
    !navBarTitle && (
      <>
        <Image src={me} alt="Me" class="mr-2 h-8 w-8 rounded-full md:mx-2" />
        <a href="/" class="text-xl font-bold md:text-2xl">
          Patrick Ineichen
        </a>
      </>
    )
  }
  <div class="absolute right-4">
    <div class="drawer drawer-end">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />

      <label class="btn btn-circle swap swap-rotate z-10" for="my-drawer">
        <HamburgerIcon />
        <CloseIcon />
      </label>

      <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 bg-opacity-80 min-h-full min-w-fit p-4 pt-20 text-2xl font-bold">
          {
            nav.map((item) => (
              <li class="mt-8">
                <a href={item.slug}>{item.title}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
