---
import { CloseIcon, HamburgerIcon } from '@components';
import { nav } from '@data';
---

<nav class="navbar sticky top-0 z-10 backdrop-blur-lg bg-opacity-20">
  <div class="flex-1">
    <a href={Astro.site} class="font-bold text-xl md:text-2xl">frokonet.ch</a>
  </div>
  <div class="absolute right-4">
    <div class="drawer drawer-end">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />

      <label class="btn btn-circle swap swap-rotate z-10" for="my-drawer">
        <HamburgerIcon />
        <CloseIcon />
      </label>

      <div class="drawer-side">
        <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu p-4 pt-20 w-60 bg-base-200 bg-opacity-80 font-bold min-h-full">
          {
            nav.map((item) => (
              <li>
                <a href={item.slug}>{item.title}</a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
