---
import './style.css'

import { Head, NavBar } from '@components'

const { title, description, img, navBarTitle } = Astro.props
---

<html lang="en" data-theme="macchiato">
  <Head title={title} description={description} img={img} />
  <body>
    <NavBar {navBarTitle} />
    <main>
      <slot />
    </main>
  </body>
</html>
