---
import './style.css'

import { Head, NavBar } from '@components'

const { title, description, img, hideNavTitle } = Astro.props

console.log({ title, description, img, hideNavTitle })
---

<html lang="en">
  <Head title={title} description={description} img={img} />
  <body>
    <NavBar {hideNavTitle} />
    <main>
      <slot />
    </main>
  </body>
</html>
