@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'macchiato';
  color-scheme: 'dark';
  --color-base-100: #24273a;
  --color-base-200: #1e2030;
  --color-base-300: #181926;
  --color-primary: #8aadf4;
  --color-accent-content: #150d13;
  --color-secondary: #f5bde6;
  --color-secondary-content: #150d13;
}

@theme {
  --font-sans: 'Lato';
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body,
html {
  @apply scroll-smooth;
}

article {
  @apply prose md:prose-xl;
}

a {
  @apply text-white no-underline;
}

h1,
h2,
h3 {
  @apply text-primary;
  @apply m-0;
}

h1 {
  @apply text-[2.2rem] font-bold md:text-[2.8rem];
  @apply mb-6;
}

h2 {
  @apply text-[1.5rem] font-bold md:text-[1.8rem];
  @apply mb-4;
}

.wrapper {
  @apply mx-auto px-2 lg:max-w-4xl;
}
